@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "DM Mono", monospace;
  --font-roboto: "Roboto", sans-serif;


  @keyframes cursor {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  --animate-cursor: cursor 0.7s infinite;
}