@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --font-mont: "Montserrat", sans-serif;
  --font-mono: "Space Mono", monospace;

  @keyframes cursor {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  --animate-cursor: cursor 0.7s infinite;
}